* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

/*------------------------------------------------------------------------------------------
============================= Section 1 Header==============================================
--------------------------------------------------------------------------------------------*/
.bgcolor {
  background-color: #1E1E1E;
}

.bgcolor .customtxt {
  font-size: 12px;
  color: #9C9C9C;
  display: inline-block;
  padding-left: 10%;
}

.bgcolor .customtxt p a {
  color: #9C9C9C;
  text-decoration: none;
}

.bgcolor .customtxt p a:hover {
  color: white;
}

.bgcolor .customtxt p i {
  padding-right: 5%;
}

.bgcolor .social {
  padding-left: 10%;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.bgcolor .social a {
  color: #9C9C9C;
  text-decoration: none;
}

.bgcolor .social a:hover {
  color: white;
}

.bgcolor .social i {
  font-size: 12px;
  padding-right: 3%;
}

.bgcolor .social .fonte {
  padding: 5px 7px;
  color: black;
  background-color: #C4C4C4;
  border: 0.5px solid #9C9C9C;
  border-radius: 50%;
  overflow: hidden;
}

.bgcolor .social .fonte:hover {
  background-color: white;
  overflow: hidden;
  border: 0.5px solid #9C9C9C;
  border-radius: 50%;
}

/*------------------------------------------------------------------------------------------
============================= Section 2 Header2==============================================
--------------------------------------------------------------------------------------------*/
.head2 {
  margin-top: 10px;
  margin-bottom: 10px;
  background-color: white;
}

.head2 img {
  margin-left: 5%;
  padding-top: 5px;
  width: 25%;
  height: 90%;
}

.head2 input {
  margin-left: 15%;
  height: 50%;
  width: 40%;
}

.head2 .srcbtn {
  margin-left: 10px;
  border: 1px solid #C4C4C4;
  padding: 0.8% 1.5%;
  border-radius: 100px;
}

.head2 .donbut {
  border: 1px solid #C4C4C4;
  border-radius: 60px;
  color: white;
  background-color: #D43C18;
  justify-items: center;
  padding-left: 5%;
  padding-right: 5%;
}

.head2 .donbut:hover {
  background-color: #1E1E1E;
}

.head2 .dol {
  margin-left: 8%;
  margin-right: 8%;
}

.head2 span {
  font-size: 16px;
  font-style: normal;
  padding-left: 5px;
}

/*------------------------------------------------------------------------------------------
============================= Section 3 Menu==============================================
--------------------------------------------------------------------------------------------*/
.menu {
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #F4F4F4;
}

.menu a {
  color: #1E1E1E;
  text-decoration: none;
  font-size: 16px;
  font-weight: 500;
  padding-right: 2%;
  padding-top: 15px;
}

.menu .home {
  padding-left: 7%;
}

.menu a:hover {
  color: orangered;
}

/*------------------------------------------------------------------------------------------
============================= Section 4 Slider Banner==============================================
--------------------------------------------------------------------------------------------*/
.carousel-item {
  width: 100%;
  height: 100%;
}

.carousel-item .carousel-caption {
  padding-left: 42%;
  padding-bottom: 10px;
}

.carousel-item .carousel-caption h2 {
  color: #1093C8;
  font-size: 45px;
  font-weight: 700;
}

.carousel-item .carousel-caption h5 {
  color: black;
  font-weight: 700;
}

.carousel-item .carousel-caption .donbut {
  border: 1px solid #C4C4C4;
  border-radius: 60px;
  color: white;
  background-color: #D43C18;
  justify-items: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-bottom: 10px;
  padding-top: 8px;
}

.carousel-item .carousel-caption .donbut:hover {
  background-color: #1E1E1E;
}

.carousel-item::before {
  content: '';
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #1E1E1E;
  opacity: 0.2;
}

/*------------------------------------------------------------------------------------------
============================= Section 5 About us==============================================
--------------------------------------------------------------------------------------------*/
.abtus {
  background-color: #E7EBEA;
  margin: 0;
  /*------------------------------------------------------------------------------------------
============================= Section 5 About us==============================================
--------------------------------------------------------------------------------------------*/
}

.abtus .abtrow {
  margin-left: 15%;
}

.abtus .abtrow .mission {
  margin-left: 1%;
  margin-top: 1%;
  margin-right: 1%;
  margin-bottom: 1%;
  padding-left: 3%;
  padding-right: 1%;
  background-color: white;
  text-align: start;
}

.abtus .abtrow .mission h3 {
  padding-top: 20px;
  text-align: center;
}

.abtus .abtrow .mission .readmore {
  background-color: #ADADAD;
  color: white;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 7px;
  padding-bottom: 7px;
  border: 1px solid #ADADAD;
  border-radius: 50px;
  margin-bottom: 15px;
}

.abtus .abtrow .mission .readmore:hover {
  background-color: #D43C18;
}

.abtus .abc {
  padding: 0;
}

.abtus .abc .abtrow2 {
  background-color: white;
  margin: 0;
  padding: 0;
}

.abtus .abc .abtrow2 img {
  width: 100%;
  height: 250px;
  padding-left: 0;
}

.abtus .abc .abtrow2 a {
  text-decoration: none;
  color: #43121D;
}

.abtus .abc .abtrow2 a:hover {
  color: #D43C18;
}

.abtus .abc .abtrow2 p {
  color: #ADADAD;
}

.abtus .abc .abtrow2 .donbut {
  border: 1px solid #C4C4C4;
  border-radius: 50px;
  color: white;
  background-color: #D43C18;
  justify-items: center;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 7px;
  padding-bottom: 10px;
}

.abtus .abc .abtrow2 .donbut:hover {
  background-color: #1E1E1E;
}

/*------------------------------------------------------------------------------------------
============================= Section 6 Cause list==============================================
--------------------------------------------------------------------------------------------*/
.boddy {
  background-color: white;
}

.title {
  color: #43121D;
  padding-left: 15px;
  padding-top: 10px;
  text-align: center;
}

.owl-carousel .box h5 {
  font-size: 18px;
  padding-top: 10px;
}

.owl-carousel .box p {
  font-size: 14px;
  color: #494848;
}

.owl-carousel .box .span2 {
  color: #9C9C9C;
  font-weight: 500;
}

.progressline {
  height: 5px;
  width: 100%;
  background-color: #C4C4C4;
  position: relative;
}

.progressline span {
  height: 5px;
  width: 60%;
  background-color: #D43C18;
  position: absolute;
}

.progressline2 {
  height: 5px;
  width: 100%;
  background-color: #C4C4C4;
  position: relative;
}

.progressline2 span {
  height: 5px;
  width: 80%;
  background-color: #D43C18;
  position: absolute;
}

.per {
  font-size: 16px;
  font-weight: 500;
}

.per h7 {
  padding-left: 50%;
}

.per p {
  font-size: 16px;
  color: #9C9C9C;
}

.place-order {
  width: 100%;
  height: auto;
  background-image: url("../images/img1.png");
  background-size: cover;
  background-attachment: fixed;
  background-position: 0 81.35px;
  padding: 3.725rem 0;
  opacity: 1;
}

.place-order .main-btnn {
  background-color: #D43C18;
  color: white;
  border: 1px solid #D43C18;
  border-radius: 50px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 7px;
  padding-bottom: 10px;
}

.place-order .main-btnn:hover {
  background-color: #1E1E1E;
  border-color: white;
}

.place-order h2 {
  color: #D43C18;
}

.place-order p {
  color: white;
}

/*------------------------------------------------------------------------------------------
============================= Section 7 ==============================================
--------------------------------------------------------------------------------------------*/
.wrapper {
  background-color: #D43C18;
  padding-top: 50px;
}

.newsletter {
  width: 70%;
  margin: 0 auto;
  padding-bottom: 20px;
  background-color: #D43C18;
}

.newsletter h2 {
  color: white;
  font-size: 50px;
}

.newsletter p {
  color: rgba(255, 255, 255, 0.925);
  font-size: 16px;
  font-family: 'Times New Roman', Times, serif;
  font-weight: 500;
  padding-top: 15px;
}

.newsletter .form-control {
  height: 2.45rem;
  padding: 0 1.25rem;
  font-size: 14px;
  width: 80%;
  border: none;
  background: white;
  color: black;
  font-weight: 500;
  outline: none;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.newsletter .form-control:hover,
.newsletter .form-control:focus {
  border: 2px solid gray;
}

.main-btn {
  background: -webkit-gradient(linear, left top, left bottom, from(#fc7628), color-stop(white), to(#f58d95));
  background: linear-gradient(#fc7628, white, #f58d95);
  color: black;
  border: 1px solid gray;
  font-size: 16px;
  font-weight: 500;
  border-radius: 50px;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 7px;
  padding-bottom: 10px;
}

.main-btn:hover {
  opacity: 0.8;
  border-color: white;
}

/*------------------------------------------------------------------------------------------
============================= Section 7 Donators ==============================================
--------------------------------------------------------------------------------------------*/
.donators {
  background-color: white;
}

.donators .box {
  text-align: start;
}

.donators .box h5 {
  font-size: 16px;
}

.donators .box p {
  font-size: 12px;
  font-weight: 500;
  color: #888787;
}

.donators .per {
  font-size: 14px;
}

.donators .per h7 {
  padding-left: 40%;
  color: #D43C18;
  font-size: 18px;
}

/*------------------------------------------------------------------------------------------
============================= Section 9 Footer ==============================================
--------------------------------------------------------------------------------------------*/
.footer a {
  color: white;
  padding-right: 5px;
}

.footer a:hover {
  color: #D43C18;
}

.footer hr {
  background-color: white;
  margin-top: 40px;
}
/*# sourceMappingURL=style.css.map */